<nav>

  <div class="clr-row clr-justify-content-between title">
    <div class="clr-col-3">
      <a routerLink=""><h1>Travel Buddy</h1></a>
    </div>

    <div class="clr-col-4 clr-justify-content-end action-btns">
      <button class="btn btn-sm languageButton" [class.btn-link]="!isCurrentLang('en')" (click)="useLanguage('en')">English</button>
      <button class="btn btn-sm languageButton" [class.btn-link]="!isCurrentLang('hr')" (click)="useLanguage('hr')">Hrvatski</button>
      <button class="btn btn-outline-primary login-btn" (click)="currentUser ? logout() : loginModal()" *ngIf="!currentUser">
        <clr-icon shape="user"></clr-icon>
        {{ 'login.login' | translate }}
      </button>
      <clr-dropdown *ngIf="currentUser">
        <button clrDropdownTrigger class="btn btn-outline-primary dropdown-btn">
          <clr-icon shape="user"></clr-icon>
          {{ currentUser.sub }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-right">
          <button class="dropdown-item btn btn-outline-primary" *ngIf="isAdmin" routerLink="new-travel"><clr-icon shape="ruler-pencil"></clr-icon> {{ 'login.edit-travels' | translate }}</button>
          <button class="dropdown-item btn btn-outline-primary" *ngIf="!isAdmin"><clr-icon shape="map"></clr-icon> {{ 'login.my-travels' | translate }}</button>
          <button class="dropdown-item btn btn-outline-primary"><clr-icon shape="cog"></clr-icon> {{ 'login.settings' | translate }}</button>
          <button class="dropdown-item btn btn-outline-primary" (click)="logout()"><clr-icon shape="logout"></clr-icon> {{ 'login.logout' | translate }}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </div>

  <clr-modal [(clrModalOpen)]="showModal" [clrModalSize]="'sm'" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">
      {{ registerModal ? ('register.register' | translate) : ('login.login' | translate) }}
    </h3>
    <div class="modal-body">
      <form [formGroup]="loginForm" autocomplete="off" *ngIf="!registerModal">
        <input clrInput type="text" formControlName="username" placeholder="{{ 'login.username' | translate }}">
        <input clrInput type="password" formControlName="password" placeholder="{{ 'login.password' | translate }}">
        <clr-alert [clrAlertType]="'danger'" [(clrAlertClosed)]="closeAlert">
          <clr-alert-item>
            <span class="alert-text">
                {{ 'error.' + errorMessage | translate }}
            </span>
          </clr-alert-item>
        </clr-alert>
      </form>
      <form [formGroup]="registerForm" autocomplete="off" *ngIf="registerModal">
        <clr-input-container>
          <input clrInput type="text" formControlName="username" placeholder="{{ 'register.username' | translate }}" required="required">
          <clr-control-error>{{ 'validation.username' | translate }}</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <input clrInput type="email" formControlName="email" placeholder="{{ 'register.email' | translate }}">
          <clr-control-error>{{ 'validation.email' | translate }}</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <input clrInput type="password" formControlName="password" placeholder="{{ 'register.password' | translate }}">
          <clr-control-error>{{ 'validation.password' | translate }}</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <input clrInput type="text" formControlName="firstName" placeholder="{{ 'register.first-name' | translate }}">
          <clr-control-error>{{ 'validation.first-name' | translate }}</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <input clrInput type="text" formControlName="lastName" placeholder="{{ 'register.last-name' | translate }}">
          <clr-control-error>{{ 'validation.last-name' | translate }}</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <input clrInput type="text" formControlName="phoneNumber" placeholder="{{ 'register.phone-number' | translate }}">
          <clr-control-error>{{ 'validation.phone' | translate }}</clr-control-error>
        </clr-input-container>
        <clr-alert [clrAlertType]="'danger'" [(clrAlertClosed)]="closeAlert">
          <clr-alert-item>
            <span class="alert-text">
                {{ 'error.' + errorMessage | translate }}
            </span>
          </clr-alert-item>
        </clr-alert>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="switchModal()">{{ registerModal ? ('login.login' | translate) : ('register.register' | translate) }}</button>
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary" (click)="login()" *ngIf="!registerModal">{{ 'login.login' | translate }}</button>
      <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary" (click)="register()" *ngIf="registerModal">{{ 'register.register' | translate }}</button>
    </div>
  </clr-modal>
</nav>
