h1 {
  color: deepskyblue;
  font-family: "Great Vibes", cursive, sans-serif;
  font-size: 45px;
  font-weight: normal;
  margin: 2%;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  float: left;
  clear: both;
}

button {
  float: right;
  margin: 20px 10px;
}

.modal-body {
  overflow: hidden;
  min-height: 150px;
  max-height: none;
  display: flex;
  justify-content: center;
}

.modal-title {
  display: flex;
  justify-content: center;
}

.languageButton {
  margin: 20px 10px;
}


